li{
    padding: 11px;
    list-style: none;
    font-size: large;
    font-weight:600;
    white-space: nowrap;
}
ul{
    display: flex;
    margin-left: 800px;
    margin-top: -84px;
}
.container{
    background-color:white;
    color:black;
    padding: 0.7px;
}
.logo{
    font-size: 30px;
}
